{
  "swagger": "2.0",
  "info": {
    "description": "# Introdução\n A F2b disponibiliza, além da integração via SOAP, uma API desenvolvida com a tecnologia REST, que é padrão de mercado e independe da tecnologia  utilizada por nossos clientes. \n\n Dessa forma, é possível integrar-se utilizando as mais variadas linguagens de programação, tais como: Java, PHP, Ruby, Python, ASP.Net, etc. \n # Visão Geral\n Por questões de segurança, todos os serviços disponibilizados através da API no servidor da F2b, são realizados através do protocolo HTTPS, onde a URL base de acesso é: \n\n**https://www.f2b.com.br/api/v1** \n # Convenções\n * Todo response possui um formato **JSON** com charset **UTF-8**.\n * Formato de data nas requisições e respostas deve ser \"**DD/MM/AAAA**\".\n * Formato de data e hora nas requisições e respostas deve ser \"**DD/MM/AAAA HH:mm:ss**\".\n * Formato de valores monetários deve ser \"**0000.00**\".\n * A paginação nas buscas será definida pelo parâmetro \"**pagina**\" (se não for enviado, o padrão será sempre a primeira página), e o limite de registros retornados por página será definida pelo parâmetro \"**limite**\" (se não for enviado, o padrão será 50, e poderá ser no máximo 1000). \n # HTTP Status Code\n Todas as requisições devem retornar um HTTP Status Code.\nPara os status que indicam erro, retornaremos um JSON com a descrição do erro.\n\nGeralmente os códigos iniciados com 2 indicam sucesso,  os iniciados com 4 indicam erro no lado do cliente (falta de parâmetro obrigatório ou inválido) e iniciados com 5 indicam erro interno no servidor.\n\n | Status Code | Descrição | \n | -------- | -------- |\n | 200     | OK     |\n | 400     | Requisição inválida     |\n | 401     | Falha na autenticação     |\n | 404     | Recurso não encontrado     |\n | 405     | Método não permitido     |\n | 500     | Erro interno de servidor     |\n | 503     | Serviço indisponível     |\n ",
    "version": "1.0.5",
    "title": "F2b API",
    "termsOfService": "",
    "contact": {
      "name": "Suporte F2b",
      "email": "suporte@f2b.com.br"
    }
  },
  "host": "www.f2b.com.br",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Cobranças",
      "description": "Por meio dessa API você pode registrar, consultar e executar ações em suas cobranças, além de criar agendamentos e carnês.\n"
    },
    {
      "name": "Agendamentos",
      "description": "Por meio dessa API você pode consultar ou alterar os agendamentos de cobranças criados.\n"
    },
    {
      "name": "Sacados",
      "description": "Por meio dessa API você pode consultar, inserir e alterar sacados.\n"
    },
    {
      "name": "SMS",
      "description": "Por meio dessa API você pode enviar SMS utilizando o saldo de sua conta F2b.\n"
    },
    {
      "name": "Consulta CNPJ",
      "description": "Por meio dessa API você pode consultar informações de CNPJ/QSA/MEI Simples.\n"
    }
  ],
  "securityDefinitions": {
    "HTTP_BASIC": {
      "description": "A autenticação é realizada através do Token API do usuário cadastrado na F2b.\n\n Para obter o Token acesse sua Conta F2b no menu **Conta -> Segurança -> Web Services -> Token  API**.\n Assim, toda chamada a API deve informar o token de acesso.\n\n A autenticação é feita utilizando [HTTP Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication), e em resumo, consiste em passar o header  HTTP Authorization da seguinte forma:\n\n **\"Authorization: Basic \" + Base64(\"tokenApi\")**\n",
      "type": "basic"
    }
  },
  "security": [
    {
      "HTTP_BASIC": []
    }
  ],
  "responses": {
    "AccessForbidden": {
      "description": "Token inválido",
      "schema": {
        "$ref": "#/definitions/Erro"
      }
    },
    "InvalidDataError": {
      "description": "Erro na validação dos dados",
      "schema": {
        "$ref": "#/definitions/Erro"
      }
    }
  },
  "parameters": {
    "numero_cobranca": {
      "name": "numero_cobranca",
      "in": "path",
      "required": true,
      "type": "integer",
      "description": "Número da cobrança no sistema da F2b."
    },
    "numero_agendamento": {
      "name": "numero_agendamento",
      "in": "path",
      "required": true,
      "type": "integer",
      "description": "Número do agendamento de cobrança no sistema da F2b."
    },
    "nome_sacado": {
      "name": "nome_sacado",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Nome do sacado.",
      "x-example": "João"
    },
    "email_sacado": {
      "name": "email_sacado",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "E-mail do sacado.",
      "x-example": "joao@teste.com.br"
    },
    "codigo_sacado": {
      "name": "codigo_sacado",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Código de identificação do sacado fornecido pelo sacador.",
      "x-example": "1234xyz"
    },
    "grupo": {
      "name": "grupo",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Grupo ao qual o sacado pertence.",
      "x-example": "GrupoTeste"
    },
    "numero_sacado": {
      "name": "numero_sacado",
      "in": "path",
      "required": true,
      "type": "integer",
      "description": "Número do sacado em sua Conta F2b."
    },
    "limite": {
      "name": "limite",
      "in": "query",
      "required": false,
      "type": "integer",
      "description": "Limite de busca por página.",
      "default": "50",
      "minimum": 0,
      "maximum": 1000
    },
    "pagina": {
      "name": "pagina",
      "in": "query",
      "required": false,
      "type": "integer",
      "description": "Página da busca. Utilizado na paginação.",
      "default": "1"
    },
    "data_inicial": {
      "name": "data_inicial",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Data inicial para o filtro escolhido em \"tipo_data\".",
      "x-example": "01/01/2017"
    },
    "data_final": {
      "name": "data_final",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Data final para o filtro escolhido em \"tipo_data\".",
      "x-example": "01/01/2018"
    },
    "codigo_status": {
      "name": "codigo_status",
      "in": "query",
      "required": false,
      "type": "integer",
      "description": "Código de status da Cobrança.",
      "enum": [
        "1: Registrada",
        "2: Paga",
        "3: Cancelada",
        "12: Registradas e Pagas",
        "90: Vencida",
        "91: Paga após o vencimento",
        "92: A compensar",
        "93: Fechada",
        "94: Aberta",
        "95: Paga (mais de uma vez)",
        "96: Paga (reg pelo sacador)",
        "97: Arquivada",
        "-1: Todas, exceto canceladas"
      ]
    },
    "tipo_pagamento": {
      "name": "tipo_pagamento",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Tipo de pagamento da Cobrança.",
      "enum": [
        "B: Boleto",
        "P: Pix",
        "C: Cartão de Crédito",
        "F: Entre contas F2b",
        "S: Registrado pelo sacador"
      ]
    },
    "tipo_data": {
      "name": "tipo_data",
      "in": "query",
      "required": false,
      "type": "integer",
      "description": "Tipo de data.",
      "enum": [
        "0: Vencimento",
        "1: Limite pagamento",
        "2: Registro",
        "3: Abertura",
        "4: Pagamento",
        "5: Processamento",
        "6: Desbloqueio",
        "7: Requisição de remessa",
        "8: Remetida"
      ]
    }
  },
  "paths": {
    "/cobrancas/": {
      "get": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Listar cobranças",
        "description": "Retorna uma lista de cobranças de sua conta F2b, ordenada por data de registro, da mais recente para a mais antiga.\n\nVocê pode utilizar as opções de filtro conforme parâmetros abaixo.",
        "parameters": [
          {
            "$ref": "#/parameters/limite"
          },
          {
            "$ref": "#/parameters/pagina"
          },
          {
            "$ref": "#/parameters/nome_sacado"
          },
          {
            "$ref": "#/parameters/email_sacado"
          },
          {
            "$ref": "#/parameters/codigo_sacado"
          },
          {
            "name": "cpf_cnpj",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "CPF ou CNPJ do sacado.",
            "x-example": "12345678901"
          },
          {
            "$ref": "#/parameters/grupo"
          },
          {
            "name": "numero_documento",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Número do documento fornecido pelo sacador para maior controle na administração.",
            "x-example": 123456
          },
          {
            "name": "numero_carne",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Número do carnê.",
            "x-example": 1234
          },
          {
            "$ref": "#/parameters/codigo_status"
          },
          {
            "$ref": "#/parameters/tipo_pagamento"
          },
          {
            "$ref": "#/parameters/tipo_data"
          },
          {
            "$ref": "#/parameters/data_inicial"
          },
          {
            "$ref": "#/parameters/data_final"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CobrancaRetorno"
              }
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Registrar cobranças",
        "description": "Registrar uma cobrança, carnê ou agendamento no sistema da F2b.\n\n Para os sacados, você pode enviar um array contendo o \"**objeto_sacado**\" (Sacado) ou um array contendo o \"**numero_sacado**\" (int) cadastrado na F2b.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CobrancaRegistro"
            },
            "x-examples": {
              "application/json": "{\n\"objeto_sacado\":[<Sacado>, <Sacado>],\n\"data_vencimento\":\"10/12/2017\",\n\"valor_cobranca\":56.00,\n\"demonstrativo\": [   {\r\n      \"@type\": \"item\",\r\n      \"numero_demonstrativo\": 1,\r\n      \"texto_demonstrativo\": \"Teste linha 1\",\r\n      \"qtde_item\": 1,\r\n      \"valor_item\": 60.59\r\n      ],\n\"valor_desconto\":5,\n\"tipo_desconto\": 1,\n\"numero_dias_desconto\":10,\n\"valor_multa\":10,\n\"tipo_multa\":1,\n\"valor_mora_dia\":0.10,\n\"tipo_mora_dia\":0,\n\"maximo_dias_pagamento\":20\n}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CobrancaRetorno"
              }
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      }
    },
    "/cobrancas/segunda-via": {
      "get": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Segunda via de cobranças",
        "description": "Retorna uma cobrança ou uma lista de cobranças de sua conta F2b, ordenada por data de registro, da mais antiga para a mais recente.\n\nVocê pode utilizar as opções de filtro conforme parâmetros abaixo.\n\nVocê pode filtrar por **(email e cpf_cnpj)** ou somente a **linha_digitavel** ou **codigo_barras**.\n\nOs campos **vencimento_inicial** e **vencimento_final** não são obrigatórios, mas se um for enviado o outro também deve ser.",
        "parameters": [
          {
            "$ref": "#/parameters/limite"
          },
          {
            "$ref": "#/parameters/pagina"
          },
          {
            "name": "linha_digitavel",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Linha digitável do boleto.",
            "x-example": "99999.99999 99999.999999 99999.999999 9 99999999999999"
          },
          {
            "name": "codigo_barras",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Código de barras do boleto.",
            "x-example": "99999999999999999999999999999999999999999999"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "E-mail do sacado.",
            "x-example": "joao@teste.com.br"
          },
          {
            "name": "cpf_cnpj",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "CPF ou CNPJ do sacado.",
            "x-example": "12345678901"
          },
          {
            "name": "vencimento_inicial",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Data de vencimento inicial.",
            "x-example": "01/01/2017"
          },
          {
            "name": "vencimento_final",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Data de vencimento final.",
            "x-example": "01/01/2018"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CobrancaRetorno"
              }
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      }
    },
    "/cobrancas/{numero_cobranca}": {
      "parameters": [
        {
          "$ref": "#/parameters/numero_cobranca"
        }
      ],
      "get": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Informações da cobrança",
        "description": "Retorna os detalhes de uma Cobrança",
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "$ref": "#/definitions/CobrancaRetorno"
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      }
    },
    "/cobrancas/cancelar": {
      "put": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Cancelar cobranças",
        "description": "Cancela uma ou mais cobranças.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AcaoCobranca"
              }
            },
            "x-examples": {
              "application/json": "[\n   {\n      \"numero_cobranca\": 12345678\n   },\n   {\n      \"numero_cobranca\": 12345679\n   }\n]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "$ref": "#/definitions/CobrancaRetorno"
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      }
    },
    "/cobrancas/reenviar": {
      "put": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Reenviar cobranças",
        "description": "Reenvia uma ou mais cobranças por e-mail.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AcaoCobranca"
              }
            },
            "x-examples": {
              "application/json": "[\n   {\n      \"numero_cobranca\": 12345678\n   },\n   {\n      \"numero_cobranca\": 12345678\n   }\n]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "$ref": "#/definitions/CobrancaRetorno"
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      }
    },
    "/cobrancas/arquivar": {
      "put": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Arquivar cobranças",
        "description": "Arquiva uma ou mais cobranças no sistema da F2b.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AcaoCobranca"
              }
            },
            "x-examples": {
              "application/json": "[\n   {\n      \"numero_cobranca\": 12345678\n   },\n   {\n      \"numero_cobranca\": 12345678\n   }\n]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "$ref": "#/definitions/CobrancaRetorno"
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      }
    },
    "/cobrancas/importante": {
      "put": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Marcar cobranças como importante",
        "description": "Marca uma ou mais cobranças como importante no sistema da F2b.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AcaoCobranca"
              }
            },
            "x-examples": {
              "application/json": "[\n   {\n      \"numero_cobranca\": 12345678\n   },\n   {\n      \"numero_cobranca\": 12345678\n   }\n]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "$ref": "#/definitions/CobrancaRetorno"
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      }
    },
    "/cobrancas/pagar": {
      "put": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Marcar cobranças como paga",
        "description": "Marca uma ou mais cobranças como paga",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AcaoCobrancaPagar"
              }
            },
            "x-examples": {
              "application/json": "[\n   {\n      \"numero_cobranca\": 12345678,\r\n      \"valor_pagamento\": 10.00,\r\n      \"data_pagamento\": \"01/12/2017 15:32:10\"\r\n      },\n   {\n      \"numero_cobranca\": 12345679,\r\n      \"valor_pagamento\": 15.00,\r\n      \"data_pagamento\": \"01/12/2017 15:32:10\"\r\n      }\n]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "$ref": "#/definitions/CobrancaRetorno"
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      }
    },
    "/agendamentos/": {
      "get": {
        "tags": [
          "Agendamentos"
        ],
        "summary": "Listar agendamentos",
        "description": "Retorna uma lista de agendamentos de cobrança de sua conta F2b. A ordem é determinada através do atributo **tipo_data**.\n\nVocê pode utilizar as opções de filtro conforme parâmetros abaixo.",
        "parameters": [
          {
            "$ref": "#/parameters/limite"
          },
          {
            "$ref": "#/parameters/pagina"
          },
          {
            "name": "titulo_agendamento",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Título do agendamento.",
            "x-example": "Agendamento teste mensal"
          },
          {
            "name": "fg_ativo",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "'S' para agendamentos ativos e 'N' para agendamentos inativos."
          },
          {
            "$ref": "#/parameters/nome_sacado"
          },
          {
            "$ref": "#/parameters/email_sacado"
          },
          {
            "$ref": "#/parameters/codigo_sacado"
          },
          {
            "$ref": "#/parameters/grupo"
          },
          {
            "name": "dia_vencimento",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Dia do vencimento da cobrança.",
            "x-example": "10"
          },
          {
            "name": "tipo_data",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Tipo de data (utilizado também para a ordenação na busca).",
            "enum": [
              "0: Primeiro Vencimento",
              "1: Próximo Registro",
              "2: Próximo Vencimento",
              "3: Criação"
            ]
          },
          {
            "$ref": "#/parameters/data_inicial"
          },
          {
            "$ref": "#/parameters/data_final"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AgendamentoRetorno"
              }
            }
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      }
    },
    "/agendamentos/{numero_agendamento}": {
      "parameters": [
        {
          "$ref": "#/parameters/numero_agendamento"
        }
      ],
      "get": {
        "tags": [
          "Agendamentos"
        ],
        "summary": "Informações do agendamento",
        "description": "Retorna os detalhes de um Agendamento de Cobrança",
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "$ref": "#/definitions/AgendamentoRetorno"
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      }
    },
    "/sacados/": {
      "get": {
        "tags": [
          "Sacados"
        ],
        "summary": "Listar sacados",
        "description": "Retorna uma lista de sacados de sua conta F2b, por ordem ascendente alfabética.\n\nVocê pode utilizar as opções de filtro conforme parâmetros abaixo.",
        "parameters": [
          {
            "$ref": "#/parameters/limite"
          },
          {
            "$ref": "#/parameters/pagina"
          },
          {
            "name": "busca",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Campo de busca para filtrar por nome, e-mail, CPF ou CNPJ do sacado.",
            "x-example": "João"
          },
          {
            "name": "grupo",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Grupo do sacado.",
            "x-example": "GrupoTeste"
          },
          {
            "name": "codigo_sacado",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Código do sacado.",
            "x-example": "123xyz"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "$ref": "#/definitions/Sacado"
            }
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Sacados"
        ],
        "summary": "Inserir um sacado",
        "description": "Insere um novo sacado em sua Conta F2b.\r\n\r\n Caso seja enviado um e-mail existente e CPF ou CNPJ, o sacado será alterado. ",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sacado"
            },
            "x-examples": {
              "application/json": "{\n     \"nome\":\"Teste F2b\",\n     \"email\":\"testef2b@teste.com.br\",\n     \"codigo_sacado\":\"Teste123\",\n     \"grupo\":\"API\",\n     \"tipo_envio\":\"E\"\n}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "$ref": "#/definitions/Sacado"
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      },
      "put": {
        "tags": [
          "Sacados"
        ],
        "summary": "Alterar um sacado",
        "description": "Altera um sacado em sua Conta F2b.\r\n\r\n Obrigatório enviar **numero_sacado**. ",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sacado"
            },
            "x-examples": {
              "application/json": "{\n     \"numero_sacado\":123456,\n     \"nome\":\"Teste F2b\",\n     \"email\":\"testef2b@teste.com.br\",\n     \"codigo_sacado\":\"Teste123\",\n     \"grupo\":\"API\",\n     \"tipo_envio\":\"E\"\n}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "$ref": "#/definitions/Sacado"
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      }
    },
    "/sacados/{numero_sacado}": {
      "parameters": [
        {
          "$ref": "#/parameters/numero_sacado"
        }
      ],
      "get": {
        "tags": [
          "Sacados"
        ],
        "summary": "Informações do sacado",
        "description": "Retorna os detalhes de um sacado",
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "$ref": "#/definitions/Sacado"
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      }
    },
    "/sms/": {
      "post": {
        "tags": [
          "SMS"
        ],
        "summary": "Enviar SMS",
        "description": "Envia um SMS para um destinatário utilizando o saldo de sua Conta F2b. ",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SMS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "$ref": "#/definitions/SMS"
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      }
    },
    "/consulta/cnpjqsa": {
      "post": {
        "tags": [
          "Consulta CNPJ"
        ],
        "summary": "Consultar CNPJ/QSA/MEI",
        "description": "Faz uma consulta da informações de um CNPJ utilizando o saldo de sua Conta F2b. ",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConsultaCNPJ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "$ref": "#/definitions/ConsultaCNPJResponse"
            }
          },
          "400": {
            "$ref": "#/responses/InvalidDataError"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      }
    }    
  },
  "definitions": {
    "Erro": {
      "type": "object",
      "properties": {
        "erro": {
          "type": "object",
          "properties": {
            "status": {
              "type": "integer"
            },
            "descricao": {
              "type": "string"
            },
            "mensagens": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "AcaoCobranca": {
      "type": "object",
      "properties": {
        "": {
          "type": "object",
          "required": [
            "numero_cobranca"
          ],
          "properties": {
            "numero_cobranca": {
              "$ref": "#/parameters/numero_cobranca"
            }
          }
        }
      }
    },
    "AcaoCobrancaPagar": {
      "type": "object",
      "properties": {
        "": {
          "type": "object",
          "required": [
            "numero_cobranca",
            "valor_pagamento",
            "data_pagamento"
          ],
          "properties": {
            "numero_cobranca": {
              "$ref": "#/parameters/numero_cobranca"
            },
            "valor_pagamento": {
              "description": "Valor do pagamento",
              "type": "number",
              "format": "double"
            },
            "data_pagamento": {
              "description": "Data do pagamento",
              "type": "string",
              "format": "date"
            }
          }
        }
      }
    },
    "CobrancaRetorno": {
      "type": "object",
      "properties": {
        "numero_cobranca": {
          "description": "Número da cobrança no sistema da F2b",
          "type": "integer"
        },
        "valor_cobranca": {
          "description": "Valor da cobrança",
          "type": "number",
          "format": "double"
        },
        "data_vencimento": {
          "description": "Data de vencimento da cobrança",
          "type": "string",
          "format": "date"
        },
        "data_registro": {
          "description": "Data de registro da cobrança",
          "type": "string",
          "format": "date-time"
        },
        "nome": {
          "description": "Nome do sacado",
          "type": "string"
        },
        "email": {
          "description": "E-mail do sacado",
          "type": "string",
          "format": "email"
        },
        "email_2": {
          "description": "Segundo e-mail do sacado",
          "type": "string",
          "format": "email"
        },
        "logradouro_endereco": {
          "description": "Rua do endereço do sacado",
          "type": "string"
        },
        "numero_endereco": {
          "description": "Número do endereço do sacado",
          "type": "string"
        },
        "complemento_endereco": {
          "description": "Complemento do endereço do sacado",
          "type": "string"
        },
        "bairro": {
          "description": "Bairro do sacado",
          "type": "string"
        },
        "cidade": {
          "description": "Cidade do sacado",
          "type": "string"
        },
        "estado": {
          "description": "Estado (UF) do sacado",
          "type": "string"
        },
        "cep": {
          "description": "CEP do sacado",
          "type": "string"
        },
        "cpf": {
          "description": "CPF do sacado",
          "type": "string"
        },
        "cnpj": {
          "description": "CNPJ do sacado",
          "type": "string"
        },
        "grupo": {
          "description": "Grupo ao qual o sacado pertence",
          "type": "string"
        },
        "codigo_sacado": {
          "description": "Código do sacado. Personalizado pelo vendedor",
          "type": "string"
        },
        "data_abertura": {
          "description": "Data de abertura da cobrança",
          "type": "string",
          "format": "date-time"
        },
        "data_limite_pagamento": {
          "description": "Data limite para pagamento da cobrança",
          "type": "string",
          "format": "date"
        },
        "codigo_remessa": {
          "description": "Código de remessa",
          "type": "string",
          "enum": [
            "P ou I: Remetida",
            "R: Pode ser remetida",
            "N: Não pode ser remetida"
          ]
        },
        "tipo_envio": {
          "description": "Tipo de envio da cobrança",
          "type": "string",
          "enum": [
            "E: E-mail (Padrão)",
            "N: Nenhum"
          ]
        },
        "numero_documento": {
          "description": "Número do documento. Personalizado pelo vendedor",
          "type": "integer"
        },
        "ddd_celular": {
          "description": "DDD do celular do sacado",
          "type": "string"
        },
        "numero_celular": {
          "description": "Número do celular do sacado",
          "type": "string"
        },
        "fg_lida": {
          "description": "Indica se a cobrança foi lida pelo vendedor no sistema da F2b",
          "type": "integer",
          "enum": [
            "0: Não lida",
            "1: Lida"
          ]
        },
        "fg_importante": {
          "description": "Indica se a cobrança foi marcada como importante pelo vendedor",
          "type": "integer",
          "enum": [
            "0: Não importante",
            "1: Importante"
          ]
        },
        "fg_arquivada": {
          "description": "Indica se a cobrança foi arquivada pelo vendedor",
          "type": "integer",
          "enum": [
            "0: Não arquivada",
            "1: Arquivada"
          ]
        },
        "numero_carne": {
          "description": "Número do carnê",
          "type": "integer"
        },
        "codigo_remessa_carne": {
          "description": "Código de remessa do carnê",
          "type": "string",
          "enum": [
            "P ou I: Remetida",
            "R: Pode ser remetida",
            "N: Não pode ser remetida"
          ]
        },
        "url_cobranca": {
          "description": "URL da cobrança",
          "type": "string"
        },
        "url_carne": {
          "description": "URL do carnê",
          "type": "string"
        },
        "texto_valor": {
          "description": "Texto do valor da cobrança. Ex.: \"R$ 50,00\"",
          "type": "string"
        },
        "texto_desconto": {
          "description": "Texto com informações do desconto",
          "type": "string"
        },
        "texto_multa": {
          "description": "Texto com informações da multa",
          "type": "string"
        },
        "texto_limite_pagamento": {
          "description": "Texto com informações sobre a data limite de pagamento",
          "type": "string"
        },
        "tipo_registro": {
          "description": "Tipo do registro da cobrança",
          "type": "integer",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6"
          ]
        },
        "texto_tipo_registro": {
          "description": "Texto do tipo do registro da cobrança",
          "type": "string",
          "enum": [
            "1: Manual",
            "2: Agendado",
            "3: Web Service",
            "4: Arquivo",
            "5: Massa",
            "6: Web"
          ]
        },
        "codigo_status": {
          "description": "Código de status da cobrança",
          "type": "integer",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7"
          ]
        },
        "texto_status": {
          "description": "Texto do status da cobrança",
          "type": "string",
          "enum": [
            "1: Registrada",
            "2: Paga",
            "3: Cancelada",
            "4: Vencida",
            "5: Paga (mais de uma vez)",
            "6: Paga (registrado pelo sacador)",
            "7: Paga (valor diferente)"
          ]
        },
        "tipo_parcelamento_cartao": {
          "description": "Meio de parcelamento para cartão de crédito",
          "type": "string",
          "enum": [
            "A: Administradora",
            "L: Lojista"
          ]
        },
        "parcelas_cartao": {
          "description": "Número de parcelas aceito para parcelamento por cartão de crédito",
          "type": "integer"
        },
        "mensagem_acao": {
          "description": "Texto com uma mensagem sobre o retorno de uma ação na cobrança quando estiver tudo ok",
          "type": "string"
        },
        "nome_conta": {
          "description": "Nome do cliente F2b emissor da cobrança",
          "type": "string"
        },
        "email_conta": {
          "description": "E-mail do cliente F2b emissor da cobrança",
          "type": "string",
          "format": "email"
        },
        "pix_str_qrcode": {
          "description": "Conteúdo do QRCode Pix",
          "type": "string"
        },
        "pix_img_base64_qrcode": {
          "description": "Conteúdo com a imagem do QRCode Pix em base64",
          "type": "string"
        },
        "pagamentos": {
          "$ref": "#/definitions/Pagamentos"
        },
        "demonstrativo": {
          "$ref": "#/definitions/Demonstrativo"
        }
      },
      "example": "{\r\n   \"numero_cobranca\": 12345678,\r\n   \"nome\": \"Teste F2b\",\r\n   \"email\": \"teste@f2b.com.br\",\r\n   \"logradouro_endereco\": \"Rua das Pedras\",\r\n   \"numero_endereco\": \"455\",\r\n   \"complemento_endereco\": \"Sala 23\",\r\n   \"bairro\": \"Itaim Bibi\",\r\n   \"cidade\": \"São Paulo\",\r\n   \"estado\": \"SP\",\r\n   \"cep\": \"04536000\",\r\n   \"cpf\": \"12345678909\",\r\n   \"grupo\": \"api\",\r\n   \"codigo_sacado\": \"000001\",\r\n   \"data_vencimento\": \"29/09/2017\",\r\n   \"valor_cobranca\": 52.5,\r\n   \"data_registro\": \"22/08/2017 13:06:01\",\r\n   \"data_limite_pagamento\": \"29/09/2017\",\r\n   \"codigo_remessa\": \"R\",\r\n   \"tipo_envio\": \"E\",\r\n   \"numero_documento\": 2718669,\r\n   \"fg_lida\": 1,\r\n   \"fg_importante\": 1,\r\n   \"fg_arquivada\": 0,\r\n   \"numero_carne\": 0,\r\n   \"url_cobranca\": \"https://www.f2b.com.br\",\r\n   \"texto_valor\": \"R$ 52,50\",\r\n   \"texto_limite_pagamento\": \"NÃO RECEBER APÓS O VENCIMENTO.\",\r\n   \"tipo_registro\": 1,\r\n   \"texto_tipo_registro\": \"Manual\",\r\n   \"codigo_status\": 2,\r\n   \"texto_status\": \"Paga\",\r\n   \"nome_conta\": \"José Oliveira\",\r\n   \"email_conta\": \"joseoliveira@teste.com\",\r\n   \"pagamentos\": [   {\r\n      \"numero_cobranca\": 12345678,\r\n      \"numero_pagamento\": 1,\r\n      \"taxa_pagamento\": 2.99,\r\n      \"data_pagamento\": \"24/10/2017\",\r\n      \"data_processamento\": \"24/10/2017\",\r\n      \"valor_pagamento\": 1,\r\n      \"numero_banco_pagamento\": 0,\r\n      \"codigo_tipo_pagamento\": \"S\",\r\n      \"texto_tipo_pagamento\": \"Registrado pelo sacador\"\r\n   }],\r\n   \"demonstrativo\": [   {\r\n      \"@type\": \"item\",\r\n      \"numero_demonstrativo\": 1,\r\n      \"texto_demonstrativo\": \"Teste linha 1\",\r\n      \"qtde_item\": 1,\r\n      \"valor_item\": 60.59\r\n      }]\r\n}"
    },
    "CobrancaRegistro": {
      "type": "object",
      "required": [
        "valor_cobranca",
        "data_vencimento",
        "demonstrativo"
      ],
      "properties": {
        "numero_sacado": {
          "description": "Array com os números dos sacados no sistema da F2b",
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "objeto_sacado": {
          "$ref": "#/definitions/Sacado"
        },
        "valor_cobranca": {
          "description": "Valor da cobrança.  Se existir algum item no demonstrativo com a quantidade e valor, o cálculo será automático e esse parâmetro será ignorado.",
          "type": "number",
          "format": "double"
        },
        "data_vencimento": {
          "description": "Data de vencimento da cobrança",
          "type": "string",
          "format": "date"
        },
        "demonstrativo": {
          "$ref": "#/definitions/Demonstrativo"
        },
        "numero_documento": {
          "description": "Número do documento. Personalizado pelo vendedor",
          "type": "integer"
        },
        "parcelas_carne": {
          "description": "Número de parcelas (Somente para carnê)",
          "type": "integer",
          "minimum": 0,
          "maximum": 12
        },
        "valor_desconto": {
          "description": "Valor em Reais ou Porcentagem do desconto concedido em caso de pagamento antecipado",
          "type": "number",
          "format": "double"
        },
        "tipo_desconto": {
          "description": "Tipo do desconto",
          "type": "integer",
          "enum": [
            "0: R$ (Reais)",
            "1: % (Porcentagem)"
          ]
        },
        "numero_dias_desconto": {
          "description": "Número de dias antes do vencimento até quando é concedido o desconto para pagamento antecipado",
          "type": "integer"
        },
        "valor_multa": {
          "description": "Valor em Reais ou Porcentagem da multa aplicada em caso de pagamento em atraso",
          "type": "number",
          "format": "double"
        },
        "tipo_multa": {
          "description": "Tipo da multa",
          "type": "integer",
          "enum": [
            "0: R$ (Reais)",
            "1: % (Porcentagem)"
          ]
        },
        "valor_mora_dia": {
          "description": "Valor em Reais ou Porcentagem da multa diária aplicada em caso de pagamento em atraso",
          "type": "number",
          "format": "double"
        },
        "tipo_mora_dia": {
          "description": "Tipo da mora diária",
          "type": "integer",
          "enum": [
            "0: R$ (Reais)",
            "1: % (Porcentagem)"
          ]
        },
        "maximo_dias_pagamento": {
          "description": "Número de dias após o vencimento até quando será aceito o pagamento em atraso",
          "type": "integer",
          "minimum": 0,
          "maximum": 20
        },
        "antecedencia_agendamento": {
          "description": "Número de dias antes do vencimento que a cobrança agendada deverá ser enviada",
          "type": "integer",
          "minimum": 1,
          "maximum": 30
        },
        "periodicidade_agendamento": {
          "description": "Número de meses de intervalo entre o envio de cada cobrança agendada",
          "type": "integer",
          "minimum": 1,
          "maximum": 12
        },
        "periodos_agendamento": {
          "description": "Número de períodos, contanto o primeiro, em que a cobrança agendada deverá ser enviada. Se o valor for 0, a cobrança será agendada por período indeterminado",
          "type": "integer",
          "minimum": 0
        },
        "ultimo_dia_agendamento": {
          "description": "Indica se os próximos vencimentos das cobranças agendadas devem acontecer nos últimos dias de cada mês",
          "type": "string",
          "enum": [
            "S",
            "N"
          ]
        },
        "titulo_agendamento": {
          "description": "Título para o agendamento",
          "type": "string"
        },
        "tipo_cobranca": {
          "description": "Meios de pagamento que serão aceitos em sua cobrança. Ex: \"BC\" será aceito somente Boleto e Cartão de Crédito",
          "type": "string",
          "enum": [
            "B: Boleto",
            "P: Pix",
            "C: Cartão de Crédito"
          ]
        },
        "tipo_ws": {
          "description": "Texto para marcar a forma de registro (Pode ser o nome do seu sistema por exemplo)",
          "type": "string"
        },
        "tipo_parcelamento_cartao": {
          "description": "Meio de parcelamento para cartão de crédito",
          "type": "string",
          "enum": [
            "A: Administradora",
            "L: Lojista"
          ]
        },
        "parcelas_cartao": {
          "description": "Número de parcelas aceito para parcelamento por cartão de crédito",
          "type": "integer"
        }
      }
    },
    "Pagamentos": {
      "description": "Array com os objetos de Pagamento",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "numero_cobranca": {
            "description": "Número da cobrança no sistema da F2b",
            "type": "integer"
          },
          "numero_pagamento": {
            "description": "Número sequencial do pagamento",
            "type": "integer"
          },
          "taxa_pagamento": {
            "description": "Tarifa descontada",
            "type": "number",
            "format": "double"
          },
          "data_pagamento": {
            "description": "Data do pagamento",
            "type": "string",
            "format": "date-time"
          },
          "data_processamento": {
            "description": "Data do processamento do pagamento",
            "type": "string",
            "format": "date-time"
          },
          "valor_pagamento": {
            "description": "Valor do pagamento",
            "type": "number",
            "format": "double"
          },
          "pagamento_bloqueado": {
            "description": "Flag para o status do pagamento",
            "type": "string",
            "enum": [
              "S ou N: Pagamento bloqueado",
              "C: Pagamento creditado",
              "X: Pagamento cancelado"
            ]
          },
          "data_desbloqueio": {
            "description": "Data do desbloqueio do pagamento (para pagamentos bloqueados)",
            "type": "string",
            "format": "date"
          },
          "numero_banco_pagamento": {
            "description": "Número do banco do pagamento",
            "type": "integer"
          },
          "nome_banco_pagamento": {
            "description": "Nome do banco do pagamento. Para pagamentos através de boleto bancário",
            "type": "string"
          },
          "codigo_tipo_pagamento": {
            "description": "Código do tipo do pagamento",
            "type": "string",
            "enum": [
              "B",
              "P",
              "C",
              "D",
              "T",
              "F",
              "S"
            ]
          },
          "texto_tipo_pagamento": {
            "description": "Texto do tipo do pagamento",
            "type": "string",
            "enum": [
              "B: Boleto",
              "P: Pix",
              "C: Cartão de Crédito",
              "F: Entre contas F2b",
              "S: Registrado pelo sacador"
            ]
          },
          "numero_parcelas": {
            "description": "Número de parcelas do pagamento",
            "type": "integer"
          },
          "parcelado_lojista": {
            "description": "Flag informando se o pagamento foi parcelado pelo lojista ou pela administradora",
            "type": "string",
            "enum": [
              "S: Parcelado pelo lojista",
              "N: Parcelado pela administradora"
            ]
          },
          "nome_banco_bandeira": {
            "description": "Nome do banco/bandeira do pagamento. Para pagamentos através de cartões de crédito",
            "type": "string"
          }
        }
      },
      "example": " {\"pagamentos\": [   {\r\n      \"numero_cobranca\": 12345678,\r\n      \"numero_pagamento\": 1,\r\n      \"taxa_pagamento\": 2.99,\r\n      \"data_pagamento\": \"24/10/2017 15:32:10\",\r\n      \"data_processamento\": \"24/10/2017 15:32:10\",\r\n      \"valor_pagamento\": 1,\r\n      \"numero_banco_pagamento\": 0,\r\n      \"codigo_tipo_pagamento\": \"S\",\r\n      \"texto_tipo_pagamento\": \"Registrado pelo sacador\"\r\n   }]\r\n }"
    },
    "Demonstrativo": {
      "description": "Array com os objetos de Demonstrativo",
      "type": "array",
      "items": {
        "type": "object",
        "required": [
          "@type",
          "texto_demonstrativo"
        ],
        "properties": {
          "@type": {
            "description": "Tipo do demonstrativo. Enviar \"item\"",
            "type": "string"
          },
          "numero_demonstrativo": {
            "description": "Número do demonstrativo",
            "type": "integer",
            "readOnly": true
          },
          "texto_demonstrativo": {
            "description": "Texto do demonstrativo ou descrição do item",
            "type": "string"
          },
          "qtde_item": {
            "description": "Quantidade do item",
            "type": "integer"
          },
          "valor_item": {
            "description": "Valor do item",
            "type": "number",
            "format": "double"
          }
        }
      },
      "example": "{\r\n      \"@type\": \"item\",\r\n      \"numero_demonstrativo\": 1,\r\n      \"texto_demonstrativo\": \"Teste linha 1\",\r\n      \"qtde_item\": 1,\r\n      \"valor_item\": 60.59\r\n       }"
    },
    "CamposPersonalizados": {
      "description": "Array com os campos personalizados do Sacado",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "titulo": {
            "description": "Título do campo personalizado",
            "type": "string"
          },
          "conteudo": {
            "description": "Conteúdo do campo personalizado",
            "type": "string"
          }
        }
      }
    },      
    "AgendamentoRetorno": {
      "type": "object",
      "properties": {
        "numero_agendamento": {
          "description": "Número do agendamento de cobrança no sistema da F2b",
          "type": "integer"
        },
        "titulo_agendamento": {
          "description": "Título do agendamento",
          "type": "string"
        },
        "fg_ativo": {
          "description": "Indica se o agendamento está ativo",
          "type": "string",
          "enum": [
            "S",
            "N"
          ]
        },
        "data_primeiro_vencimento": {
          "description": "Data do primeiro vencimento da cobrança",
          "type": "string",
          "format": "date"
        },
        "valor_desconto": {
          "description": "Valor em Reais ou Porcentagem do desconto concedido em caso de pagamento antecipado",
          "type": "number",
          "format": "double"
        },
        "tipo_desconto": {
          "description": "Tipo do desconto",
          "type": "integer",
          "enum": [
            "0: R$ (Reais)",
            "1: % (Porcentagem)"
          ]
        },
        "numero_dias_desconto": {
          "description": "Número de dias antes do vencimento até quando é concedido o desconto para pagamento antecipado",
          "type": "integer"
        },
        "valor_multa": {
          "description": "Valor em Reais ou Porcentagem da multa aplicada em caso de pagamento em atraso",
          "type": "number",
          "format": "double"
        },
        "tipo_multa": {
          "description": "Tipo da multa",
          "type": "integer",
          "enum": [
            "0: R$ (Reais)",
            "1: % (Porcentagem)"
          ]
        },
        "valor_mora_dia": {
          "description": "Valor em Reais ou Porcentagem da multa diária aplicada em caso de pagamento em atraso",
          "type": "number",
          "format": "double"
        },
        "tipo_mora_dia": {
          "description": "Tipo da mora diária",
          "type": "integer",
          "enum": [
            "0: R$ (Reais)",
            "1: % (Porcentagem)"
          ]
        },
        "maximo_dias_pagamento": {
          "description": "Número de dias após o vencimento até quando será aceito o pagamento em atraso",
          "type": "integer",
          "minimum": 0,
          "maximum": 20
        },
        "antecedencia_agendamento": {
          "description": "Número de dias antes do vencimento que a cobrança agendada deverá ser enviada",
          "type": "integer"
        },
        "periodicidade_agendamento": {
          "description": "Número de meses de intervalo entre o envio de cada cobrança agendada",
          "type": "integer"
        },
        "periodos_agendamento": {
          "description": "Número de períodos, contanto o primeiro, em que a cobrança agendada deverá ser enviada. Se o valor for 0, a cobrança será agendada por período indeterminado",
          "type": "integer"
        },
        "ultimo_dia_agendamento": {
          "description": "Indica se os próximos vencimentos das cobranças agendadas devem acontecer nos últimos dias de cada mês",
          "type": "string",
          "enum": [
            "S",
            "N"
          ]
        },
        "valor_cobranca": {
          "description": "Valor da cobrança",
          "type": "number",
          "format": "double"
        },
        "data_proximo_registro": {
          "description": "Data do próximo registro da cobrança",
          "type": "string",
          "format": "date"
        },
        "data_proximo_vencimento": {
          "description": "Data do próximo vencimento da cobrança",
          "type": "string",
          "format": "date"
        },
        "data_criacao_agendamento": {
          "description": "Data de criação do agendamento",
          "type": "string",
          "format": "date-time"
        },
        "numero_documento": {
          "description": "Número do documento. Personalizado pelo vendedor",
          "type": "integer"
        },
        "tipo_ws": {
          "description": "Texto para marcar a forma de registro (Pode ser o nome do seu sistema por exemplo)",
          "type": "string"
        },
        "tipo_parcelamento_cartao": {
          "description": "Meio de parcelamento para cartão de crédito",
          "type": "string",
          "enum": [
            "A: Administradora",
            "L: Lojista"
          ]
        },
        "parcelas_cartao": {
          "description": "Número de parcelas aceito para parcelamento por cartão de crédito",
          "type": "integer"
        },
        "sacados": {
          "description": "Lista com os sacados pertencentes ao agendamento",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Sacado"
          }
        },
        "demonstrativo": {
          "$ref": "#/definitions/Demonstrativo"
        }
      }
    },
    "Sacado": {
      "description": "Array com os objetos dos sacados",
      "type": "array",
      "items": {
        "type": "object",
        "required": [
          "nome",
          "email"
        ],
        "properties": {
          "numero_sacado": {
            "description": "Número do sacado no sistema da F2b. **Utilizado somente para alterar o sacado**.",
            "type": "integer"
          },
          "nome": {
            "description": "Nome do sacado",
            "type": "string",
            "maxLength": 60
          },
          "email": {
            "description": "E-mail do sacado",
            "type": "string",
            "format": "email",
            "maxLength": 120
          },
          "email_2": {
            "description": "Segundo e-mail do sacado",
            "type": "string",
            "format": "email",
            "maxLength": 120
          },
          "logradouro_endereco": {
            "description": "Rua do endereço do sacado",
            "type": "string",
            "maxLength": 50
          },
          "numero_endereco": {
            "description": "Número do endereço do sacado",
            "type": "string",
            "maxLength": 10
          },
          "complemento_endereco": {
            "description": "Complemento do endereço do sacado",
            "type": "string",
            "maxLength": 50
          },
          "bairro": {
            "description": "Bairro do sacado",
            "type": "string",
            "maxLength": 50
          },
          "cidade": {
            "description": "Cidade do sacado",
            "type": "string",
            "maxLength": 40
          },
          "estado": {
            "description": "Estado (UF) do sacado",
            "type": "string",
            "maxLength": 2
          },
          "cep": {
            "description": "CEP do sacado",
            "type": "string",
            "maxLength": 9
          },
          "cpf": {
            "description": "CPF do sacado",
            "type": "string",
            "maxLength": 11
          },
          "cnpj": {
            "description": "CNPJ do sacado",
            "type": "string",
            "maxLength": 14
          },
          "grupo": {
            "description": "Grupo ao qual o sacado pertence",
            "type": "string",
            "maxLength": 20
          },
          "codigo_sacado": {
            "description": "Código do sacado. Personalizado pelo vendedor",
            "type": "string",
            "maxLength": 20
          },
          "tipo_envio": {
            "description": "Tipo de envio da cobrança",
            "type": "string",
            "enum": [
              "E: E-mail (Padrão)",
              "N: Nenhum"
            ],
            "maxLength": 1
          },
          "ddd_celular": {
            "description": "DDD do celular do sacado",
            "type": "string",
            "maxLength": 4
          },
          "numero_celular": {
            "description": "Número do celular do sacado",
            "type": "string",
            "maxLength": 10
          },
          "ddd_residencial": {
            "description": "DDD do telefone residencial do sacado",
            "type": "string",
            "maxLength": 4
          },
          "telefone_residencial": {
            "description": "Número do telefone residencial do sacado",
            "type": "string",
            "maxLength": 10
          },
          "ddd_comercial": {
            "description": "DDD do telefone comercial do sacado",
            "type": "string",
            "maxLength": 4
          },
          "telefone_comercial": {
            "description": "Número do telefone comercial do sacado",
            "type": "string",
            "maxLength": 10
          },
          "observacao": {
            "description": "Observação do sacado",
            "type": "string",
            "maxLength": 256
          },
          "data_inclusao": {
            "description": "Data de inclusão do sacado",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "servicos_aviso": {
            "description": "Inserir o sacado automaticamente nos serviços de avisos da F2b. \n\n **Pode ser cobrada tarifa por envio de SMS** ",
            "type": "string",
            "enum": [
              "E: Serviços E-mail",
              "S: Serviços SMS"
            ],
            "maxLength": 2
          },
          "campos_personalizados": {
            "$ref": "#/definitions/CamposPersonalizados"
          }
        }
      },
      "example": "{\r\n   \"numero_sacado\": 123,\r\n   \"nome\": \"Teste F2b\",\r\n   \"email\": \"teste@f2b.com.br\",\r\n   \"logradouro_endereco\": \"Rua das Pedras\",\r\n   \"numero_endereco\": \"455\",\r\n   \"complemento_endereco\": \"Sala 23\",\r\n   \"bairro\": \"Itaim Bibi\",\r\n   \"cidade\": \"São Paulo\",\r\n   \"estado\": \"SP\",\r\n   \"cep\": \"04536000\",\r\n   \"cpf\": \"12345678909\",\r\n   \"grupo\": \"api\",\r\n   \"codigo_sacado\": \"000001\",\r\n   \"tipo_envio\": \"E\"\r\n}"
    },
    "SMS": {
      "type": "object",
      "required": [
        "codigo_pais",
        "ddd_celular",
        "numero_celular"
      ],
      "properties": {
        "numero_transacao": {
          "description": "Número da transação na F2b",
          "readOnly": true,
          "type": "integer"
        },
        "codigo_pais": {
          "description": "Código do país. Válido somente para o Brasil (55)",
          "type": "integer"
        },
        "ddd_celular": {
          "description": "DDD do celular do destinatário",
          "type": "integer"
        },
        "numero_celular": {
          "description": "Número do celular do destinatário",
          "type": "integer"
        },
        "nome_remetente": {
          "description": "Nome do remetente",
          "type": "string"
        },
        "telefone_remetente": {
          "description": "Telefone do remetente",
          "type": "string"
        },
        "mensagem": {
          "description": "Mensagem para o destinatário",
          "type": "string",
          "maxLength": 146
        }
      },
      "example": "{\r\n   \"codigo_pais\": 55,\r\n   \"ddd_celular\": 11,\r\n   \"numero_celular\": 999999999,\r\n   \"nome_remetente\": \"Pedro\",\r\n   \"telefone_remetente\": \"11999999999\",\r\n   \"mensagem\": \"Teste envio de SMS\"\r\n}"
    },
    "ConsultaCNPJ": {
      "type": "object",
      "required": [
        "cnpj"
      ],
      "properties": {
        "cnpj": {
          "description": "Número do CNPJ",
          "type": "string",
          "maxLength": 14
        },
        "fg_email": {
          "description": "Enviar resposta por e-mail?",
          "type": "string",
          "enum": [
            "S: Enviar resposta por e-mail. (E-mail cadastrado na Conta F2b)",
            "N: Não enviar (Padrão)"
          ]
        }
      },
      "example": "{\r\n   \"cnpj\": \"01234567000199\",\r\n   \"fg_email\": \"S\",\r\n}"
    },
    "ConsultaCNPJResponse": {
      "type": "object",
      "properties": {
        "dtdb": {
          "description": "Data da base de dados na Receita Federal",
          "type": "string",
          "format": "date"
        },
        "html": {
          "description": "html div para apresentação da resposta",
          "type": "string"
        },
        "empresa": {
          "$ref": "#/definitions/EmpresaResponse"
        },
        "estabelecimento": {
          "$ref": "#/definitions/EstabelecimentoResponse"
        },
        "socios": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SociosResponse"
          }                    
        }
      }
    },
    "EmpresaResponse": {
      "type": "object",
      "description": "Dados da empresa",
      "properties": {
        "cnpj": {
          "description": "CNPJ raiz (8 dígitos)",
          "type": "string",
          "maxLength": 8
        },
        "nome": {
          "description": "Nome empresarial",
          "type": "string"
        },
        "codnat": {
          "description": "Código da natureza jurídica",
          "type": "string"
        },
        "codqual": {
          "description": "Código da qualificação do responsável",
          "type": "string"
        },
        "capsoc": {
          "description": "Capital social",
          "type": "number",
          "format": "double"
        },
        "codporte": {
          "description": "Código do porte",
          "type": "string"
        },
        "enteresp": {
          "description": "Ente federativo responsável",
          "type": "string"
        },
        "natureza": {
          "$ref": "#/definitions/CNPJNatureza"
        },
        "qualresp": {
          "$ref": "#/definitions/CNPJResponsavel"
        },
        "porte": {
          "$ref": "#/definitions/CNPJPorte"
        }
      }
    },
    "CNPJNatureza": {
      "type": "object",
      "description": "Natureza jurídica",
      "properties": {
        "codnat": {
          "description": "Código da natureza jurídica",
          "type": "string"
        },
        "nome": {
          "description": "Descrição da natureza jurídica",
          "type": "string"
        }
      }
    },
    "CNPJResponsavel": {
      "type": "object",
      "description": "Qualificação do responsável",
      "properties": {
        "codqual": {
          "description": "Código da qualificação do responsável",
          "type": "string"
        },
        "nome": {
          "description": "Descrição da qualificação do responsável",
          "type": "string"
        }
      }
    },
    "CNPJPorte": {
      "type": "object",
      "description": "Porte",
      "properties": {
        "codnat": {
          "description": "Código do porte",
          "type": "string"
        },
        "nome": {
          "description": "Descrição do porte",
          "type": "string"
        }
      }
    },
    "EstabelecimentoResponse": {
      "type": "object",
      "description": "Estabelecimento",
      "properties": {
        "cnpj": {
          "description": "CNPJ raiz (8 dígitos)",
          "type": "string",
          "maxLength": 8
        },
        "ordem": {
          "description": "Número do estabelecimento (4 digitos)",
          "type": "string"
        },
        "dv": {
          "description": "Digitos verificadores do CNPJ raiz e número (2 digitos)",
          "type": "string"
        },
        "codmatfil": {
          "description": "Código da matriz ou filial",
          "type": "string"
        },
        "titulo": {
          "description": "Titulo do estabelecimento (nome de fantasia)",
          "type": "string"
        },
        "codsit": {
          "description": "Código da situação cadastral",
          "type": "string"
        },
        "datsit": {
          "description": "Data da situação cadastral",
          "type": "string",
          "format": "date"
        },
        "codmot": {
          "description": "Código do motivo da situação cadastral",
          "type": "string"
        },
        "cidext": {
          "description": "Nome da cidade no exterior",
          "type": "string"
        },
        "codpais": {
          "description": "Código do pais",
          "type": "string"
        },
        "datini": {
          "description": "Data de abertura",
          "type": "string",
          "format": "date"
        },
        "codcnae": {
          "description": "Código da atividade econômica principal",
          "type": "string"
        },
        "codcnaesec": {
          "description": "Códigos das atividades econômica secundárias",
          "type": "string"
        },
        "tiplogr": {
          "description": "Tipo do logradouro do endereço",
          "type": "string"
        },
        "logr": {
          "description": "Logradouro do endereço",
          "type": "string"
        },
        "numero": {
          "description": "Número do endereço",
          "type": "string"
        },
        "compl": {
          "description": "Complemento do endereço",
          "type": "string"
        },
        "bairro": {
          "description": "Bairro do endereço",
          "type": "string"
        },
        "cep": {
          "description": "CEP do endereço",
          "type": "string"
        },
        "uf": {
          "description": "Unidade de federação do endereço",
          "type": "string"
        },
        "codmun": {
          "description": "Código do municipio do endereço",
          "type": "string"
        },
        "ddd1": {
          "description": "DDD do telefone 1",
          "type": "string"
        },
        "tel1": {
          "description": "Número do telefone 1",
          "type": "string"
        },
        "ddd2": {
          "description": "DDD do telefone 2",
          "type": "string"
        },
        "tel2": {
          "description": "Número do telefone 2",
          "type": "string"
        },
        "dddfax": {
          "description": "DDD do FAX",
          "type": "string"
        },
        "telfax": {
          "description": "Número do FAX",
          "type": "string"
        },
        "email": {
          "description": "E-mail",
          "type": "string"
        },
        "sitesp": {
          "description": "Situação especial",
          "type": "string"
        },
        "datsitesp": {
          "description": "Data da dituação especial",
          "type": "string",
          "format": "date"
        },
        "matfil": {
          "$ref": "#/definitions/CNPJMatFil"
        },
        "situacao": {
          "$ref": "#/definitions/CNPJSituacao"
        },
        "motivo": {
          "$ref": "#/definitions/CNPJMotivo"
        },
        "pais": {
          "$ref": "#/definitions/CNPJPais"
        },
        "municipio": {
          "$ref": "#/definitions/CNPJMunicipio"
        },
        "cnaepri": {
          "$ref": "#/definitions/CNPJCNAE"
        },
        "cnaesec": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CNPJCNAESec"
          }                    
        }
      }
    },
    "CNPJMatFil": {
      "type": "object",
      "description": "Matriz ou filial",
      "properties": {
        "codmatfil": {
          "description": "Código matriz ou filial",
          "type": "string"
        },
        "nome": {
          "description": "Descrição matriz ou filial",
          "type": "string"
        }
      }
    },
    "CNPJSituacao": {
      "type": "object",
      "description": "Situação cadastral",
      "properties": {
        "codsit": {
          "description": "Código da situação cadastral",
          "type": "string"
        },
        "nome": {
          "description": "Descrição da situação cadastral",
          "type": "string"
        }
      }
    },
    "CNPJMotivo": {
      "type": "object",
      "description": "Motivo da situação cadastral",
      "properties": {
        "codmot": {
          "description": "Código do motivo da situação cadastral",
          "type": "string"
        },
        "nome": {
          "description": "Descrição do motivo da situação cadastral",
          "type": "string"
        }
      }
    },
    "CNPJPais": {
      "type": "object",
      "description": "Pais",
      "properties": {
        "codpais": {
          "description": "Código do pais",
          "type": "string"
        },
        "nome": {
          "description": "Nome do pais",
          "type": "string"
        }
      }
    },
    "CNPJMunicipio": {
      "type": "object",
      "description": "Municipio do endereço",
      "properties": {
        "codmun": {
          "description": "Código do municipio do endereço",
          "type": "string"
        },
        "nome": {
          "description": "Nome do municipio do endereço",
          "type": "string"
        }
      }
    },
    "CNPJCNAE": {
      "type": "object",
      "description": "Atividade econômica principal",
      "properties": {
        "codcnae": {
          "description": "Código da atividade econômica principal",
          "type": "string"
        },
        "nome": {
          "description": "Descrição da atividade econômica principal",
          "type": "string"
        }
      }
    },
    "CNPJCNAESec": {
      "type": "array",
      "description": "Atividades econômicas secundárias",
      "items": {
        "type": "object",
        "properties": {
          "codcnae": {
            "description": "Código da atividade econômica secundária",
            "type": "string"
          },
          "nome": {
            "description": "Descrição da atividade econômica secundária",
            "type": "string"
          }
        }
      }            
    },
    "SociosResponse": {
      "type": "array",
      "description": "Sócios",
      "items": {
        "type": "object",
        "properties": {
          "cnpj": {
            "description": "CNPJ raiz (8 digitos)",
            "type": "string"
          },
          "codidsoc": {
            "description": "Código do identificador de sócio",
            "type": "string"
          },
          "nome": {
            "description": "Nome ou razão social",
            "type": "string"
          },
          "codqual": {
            "description": "Código da qualificação do sócio",
            "type": "string"
          },
          "codpais": {
            "description": "Código do pais",
            "type": "string"
          },
          "nomerep": {
            "description": "Nome do representante legal",
            "type": "string"
          },
          "codqualrep": {
            "description": "Código da qualificação do representante legal",
            "type": "string"
          },
          "idsoc": {
            "$ref": "#/definitions/SocioID"
          },
          "qualsoc": {
            "$ref": "#/definitions/SocioQual"
          },
          "qualrep": {
            "$ref": "#/definitions/SocioQualRep"
          },
          "pais": {
            "$ref": "#/definitions/CNPJPais"
          }
        }
      }            
    },
    "SocioID": {
      "type": "object",
      "description": "Identificador de sócio",
      "properties": {
        "codidsoc": {
          "description": "Código do identificador de sócio",
          "type": "string"
        },
        "nome": {
          "description": "Descrição do identificador de sócio",
          "type": "string"
        }
      }
    },
    "SocioQual": {
      "type": "object",
      "description": "Qualificação do sócio",
      "properties": {
        "codqual": {
          "description": "Código da qualificação do sócio",
          "type": "string"
        },
        "nome": {
          "description": "Descrição da qualificação do sócio",
          "type": "string"
        }
      }
    },
    "SocioQualRep": {
      "type": "object",
      "description": "Qualificação do representante legal",
      "properties": {
        "codqual": {
          "description": "Código da qualificação do representante legal",
          "type": "string"
        },
        "nome": {
          "description": "Descrição da qualificação do representante legal",
          "type": "string"
        }
      }
    }
  }
}